/* css styles */
#quarto-content {
  font-family:  'et-book', 'Gill Sans', 'Tahoma', 'Verdana', 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  font-size: 14pt;
  background-color: #fffff8;
  background: #fffff8;
  padding-right: 20px;
  padding-bottom: 20px;
}

tr:nth-child(even) {
    background-color: #fAfAfA;
    }

#quarto-document-content {
    width: 950px;
  }
#quarto-margin-sidebar {
  padding-left: 40px;
  margin-right: -500px;
  margin-left: 100px;
}
/* wide content css styles
*/
